spring:
    datasource:
        url: jdbc:mysql://127.0.0.1:3306/fast_job
        username: root
        password: thanhben01
        driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
            show-sql: true


springdoc:
    api-docs:
        path: /v3/api-docs
    swagger-ui:
        path: /swagger-ui.html
        enabled: true
        try-it-out-enabled: true
        operations-sorter: method
        tags-sorter: alpha
        filter: true
        doc-expansion: none
    show-actuator: false
    paths-to-match: /api/v1/**
    packages-to-scan: com.fastjob.fastjob_backend.controller